<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiKeyboard">

        <service
            android:name=".MultilingIME"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MultiKeyboard.Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/about_title" />

        <activity
            android:name=".PrivacyActivity"
            android:exported="false"
            android:label="@string/about_privacy" />

        <activity
            android:name=".AutoTextActivity"
            android:exported="false"
            android:label="@string/autotext_title" />
    </application>

</manifest>
